@tailwind base;
@tailwind components;
@tailwind utilities;


/* Slider Styles */

/* Custom pagination bullet styling */
.swiper-pagination-bullet {
    width: 25px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.955);
    border-radius: 3px;
    margin: 0 4px !important;
    transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
    background-color: #2399C0;
    width: 30px;
}







/* Slider styles ended */