@tailwind base;
@tailwind components;
@tailwind utilities;


/* Slider Styles */

/* Custom pagination bullet styling */
.swiper-pagination-bullet {
    width: 25px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.955);
    border-radius: 3px;
    margin: 0 4px !important;
    transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
    width: 30px;
}


/* Slider styles ended */


@keyframes spin-reverse {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.animate-spin-reverse {
    animation: spin-reverse 100s linear infinite;
}

/* register page styles */

.form-container {
    position: relative;
    width: 100%;
    max-width: 24rem;
}

.flip-animation {
    animation: flip-page 0.7s forwards;
}

@keyframes flip-page {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
        opacity: 0;
    }

    100% {
        transform: rotateX(180deg);
        opacity: 1;
    }
}

.register-form,
.verify-form {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}



/* Register page styles ended */


button {
    cursor: pointer;
}